# SPDX-FileCopyrightText: 2023 Florian Liermann
# SPDX-FileContributor: 2024 Modified by Brendan Wills
#
# SPDX-License-Identifier: GPL-3.0-or-later

trytond~=7.2
responses~=0.24.0
requests~=2.31.0
ruff~=0.4.9